h2 {
    padding-left: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    border-left: 1rem solid #f7931e;
}

h3,
p {
    font-size: 1.5rem;
}

h3 {
    margin-bottom: 1.2rem;
}

figure {
    display: flex;
    justify-content: flex-end;
    margin: 3rem 0;
}

figure>img {
    height: 12vh;
}

figcaption {
    width: 72%;
    padding-left: 4rem;
}