<div class="v_ao_guide">
    <section>
        <h2>Documents you need to present</h2>
        <figure>
            <img src="./img/guide_1.png" alt="">
            <figcaption>
                <h3>ID Card</h3>
                <p>Resident card only, if you hold multiple nationalities, please speak to our branch staff</p>
            </figcaption>
        </figure>
        <figure>
            <img src="./img/guide_2.png" alt="">
            <figcaption>
                <h3>Proof of Address</h3>
                <p>Resident card only, if you hold multiple nationalities, please speak to our branch staff</p>
                <p>Resident card only, if you hold multiple nationalities, please speak to our branch staff</p>
                <p>Resident card only, if you hold multiple nationalities, please speak to our branch staff</p>
                <p>Resident card only, if you hold multiple nationalities, please speak to our branch staff</p>
            </figcaption>
        </figure>
    </section>
    <section>
        <h2>This machine supports following type of cards</h2>
        <figure>
            <img src="./img/guide_3.png" alt="">
            <figcaption>
                <h3>Diamond Card</h3>
                <p>Resident card only, if you hold multiple nationalities, please speak to our branch staff</p>
                <p></p>
            </figcaption>
        </figure>
        <figure>
            <img src="./img/guide_4.png" alt="">
            <figcaption>
                <h3>Gold Card</h3>
                <p>Resident card only, if you hold multiple nationalities, please speak to our branch staff</p>
            </figcaption>
        </figure>
    </section>
</div>