<!-- Workout Time Dialog  -->
<div class="layer-ui" id="workout-dialog">
    <div class="ui-frame">
        <div class="control-dialog">
            <div class="layer-header">
                <i class="layer-header-ico no-server"></i>
                <h2 class="layer-header-name red">{workout-header}</h2>
            </div>
            <div class="layer-container">
                <p>{workout-container-1}</p>
                <p>{workout-container-2}</p>
            </div>
            <!-- 			<div class="layer-footer">
                            <div class="layer-btns" id="workout-cancel">
                                <span>{workout-footer-btn}</span> <i class="home"></i>
                            </div>
                        </div> -->
        </div>
    </div>
</div>
<div class="home-masklayer" id="home-maskLayer"></div>